@font-face {
  font-family: "Fabrig";
  src: url("Fabrig-Regular.ttf");
  font-weight: 400; /* Regular weight */
}

@font-face {
  font-family: "Fabrig";
  src: url("Fabrig-Medium.ttf");
  font-weight: 500; /* Medium weight */
}

@font-face {
  font-family: "Fabrig";
  src: url("Fabrig-Light.ttf");
  font-weight: 300; /* Light weight */
}

@font-face {
  font-family: "Fabrig";
  src: url("Fabrig-Bold.ttf");
  font-weight: 700; /* Bold weight */
}
