@font-face {
  font-family: "Fabriga";
  src: url("Fabriga.ttf") 
}
@font-face {
  font-family: "Fabriga-Medium";
  src: url("Fabriga-Medium.ttf") 
}
@font-face {
  font-family: "Fabriga-Light";
  src: url("Fabriga-Light.ttf") 
}
@font-face {
  font-family: "Fabriga-Bold";
  src: url("Fabriga-Bold.ttf") 
}